/* Header container */

.home-1928 .header-1930 {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100%;
}

/* Carousel item */

.home-1928 .header-1930 .carousel .carousel-inner .carousel-item div {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.home-1928 .header-1930 .carousel .carousel-inner .first {
    background: 
        linear-gradient(
            var(--black-transparent-2), 
            var(--black-transparent-2)
        ),
        url(../../../data/images/carousel-1.jpg);
}

.home-1928 .header-1930 .carousel .carousel-inner .second {
    background: 
        linear-gradient(
            var(--black-transparent-2), 
            var(--black-transparent-2)
        ),
        url(../../../data/images/carousel-2.jpg);
}

.home-1928 .header-1930 .carousel .carousel-inner .third {
    background: 
        linear-gradient(
            var(--black-transparent-2), 
            var(--black-transparent-2)
        ),
        url(../../../data/images/carousel-3.jpg);
}

.home-1928 .header-1930 .carousel .carousel-inner .fourth {
    background: 
        linear-gradient(
            var(--black-transparent-2), 
            var(--black-transparent-2)
        ),
        url(../../../data/images/carousel-4.jpg);
}

.home-1928 .header-1930 .carousel .carousel-inner .fifth {
    background: 
        linear-gradient(
            var(--black-transparent-2), 
            var(--black-transparent-2)
        ),
        url(../../../data/images/carousel-5.jpg);
}