/* Nav container */

.home-1928 .navigator-1234 {
  background-color: var(--black-transparent-1) !important;
}

/* Brand */

.home-1928 .navigator-1234 .container .navbar-brand {
  color: var(--white);
  letter-spacing: 3px;
  font-size: 140%;
}

/* Toggler */

.home-1928 .navigator-1234 .container .navbar-toggler i {
  color: var(--white); 
}

/* Menu items */

.home-1928 .navigator-1234 .container .navbar-collapse .navbar-nav .nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.home-1928 .navigator-1234 .container .navbar-collapse .navbar-nav .nav-item a {
  font-family: primary-light;
  color: var(--white);
  font-size: 70%;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  transition: border-color var(--standard-transition);
}

.home-1928 .navigator-1234 .container .navbar-collapse .navbar-nav .nav-item a:hover {
  border-color: var(--white);
}

/* Media queries */

@media screen and (max-width: 991px) {
  .home-1928 .navigator-1234 .container .navbar-collapse .navbar-nav {
    padding-top: 15px;
  }

  .home-1928 .navigator-1234 .container .navbar-collapse .navbar-nav .nav-item {
    padding-left: 0;
  }

  .home-1928 .navigator-1234 .container .navbar-collapse .navbar-nav .nav-item a {
    border-bottom: none;
  }
}