/* Services Section */

.home-1928 .services-1002 {
  --col-bottom-margin: 20px;

  min-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: var(--default-section-vertical-padding) 8% calc(var(--default-section-vertical-padding) - var(--col-bottom-margin)) 8%;
}

/* Header padding */

.home-1928 .services-1002 .container-fluid h1 {
  padding-bottom: var(--default-section-vertical-padding);
}

/* Column item */

.home-1928 .services-1002 .container-fluid .row .item {
  display: flex;
  margin-bottom: var(--col-bottom-margin);
}

/* Container column icon */

.home-1928 .services-1002 .container-fluid .row .item i {
  font-size: 250%;
  color: var(--boulder);
  margin-right: 15px;
}

/* Container column textfield */

.home-1928 .services-1002 .container-fluid .row .item .services-text-field1234 {
  float: right;
}

/* Container column textfield title */

.home-1928 .services-1002 .container-fluid .row .item .services-text-field1234 h5 {
  font-size: 85%;
  letter-spacing: 2px;
  font-family: primary-regular;
  color: var(--black);
}

/* Container column separator */

.home-1928 .services-1002 .container-fluid .row .item .services-text-field1234 .separator-line1234 {
  background-color: var(--anzac);
  height: 2px;
  width: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Container column textfield description */

.home-1928 .services-1002 .container-fluid .row .item .services-text-field1234 .services-desc1234 {
  font-size: 85%;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-family: primary-light;
  color: var(--boulder);
}
