html, body {
  
  /* Colors */

  --white: #FFFFFF;

  --black: #000000;
  --black-transparent-1: rgba(0, 0, 0, 0.4);
  --black-transparent-2: rgba(30, 30, 30, 0.7);

  --gray: #848484;

  --dove-gray: #737373;

  --bright-sun: #FDD947;

  --laser: #CBCB65;

  --anzac: #E6AE48;

  --boulder: #7D7D7D;

  /* Font sizes */

  --computer-base-font-size: 16px;
  --tablet-base-font-size: 14px;
  --mobile-base-font-size: 12px; 

  /* Transition durations */

  --slow-transition: 0.9s;
  --standard-transition: 0.6s;
  --fast-transition: 0.3s;
}